.content-footer{
    padding: 20px 20px;
    background-color: white;
    p{
        color: #9A9A9A;	
        // font-family: "Open Sans";	
        font-size: 14px;	
        line-height: 19px;
    }
}