<div class="content-menu menu-sticky" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.sm="row" fxLayout.xs="row"  fxLayoutAlign.xs="space-between stretch" fxLayoutAlign.sm="space-between stretch">
    <!-- logo -->
    <div class="logo-menu">
        <img id="logo" class="imagenLogo" width="100%" src="\assets\images\vivipost_logo.svg" alt="logo">
    </div>
    <!-- menu de usuario -->
    <div class="box-menu" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="24px">
        <div class="items hidden-element-movil" fxLayoutGap="24px">
            <a *ngFor="let menu of menu_user" id="{{menu[0]}}" [routerLink]="menu[1][0].route_sub_menu">{{ 'general.'+menu[1][0].menu_name | translate }}</a>
        </div>
        <div>
            <button *ngIf="type_user==3" class="btn-notifications bg-badge" matBadgeSize="small" matBadgePosition="after" [matBadge]="numNoti" [matMenuTriggerFor]="menuNotifications"><i class="far fa-bell"></i></button>
            <mat-menu #menuNotifications="matMenu">
                <div fxLayout="column" fxLayoutAlign="space-between stretch">
                    <div ngxSplitArea *ngFor="let item of arrayNotiMenu; let i = index">
                        <div class="notification {{i%2 ?'grey-notification':'red-notification'}}">
                            <p style="margin:0">{{item.description}}</p>
                            <!-- <a style="text-decoration: none;" href="/dashboard/deliveries">Ver información</a> -->
                        </div>
                    </div>
                    <div fxLayout="row" ngxSplit="row" style="height: 58px;">
                        <a href="/notifications" class="footer-notifications" translate>go_notification</a>
                    </div>
                </div>
            </mat-menu>
            
            <!-- iconos movil -->
            <div class="hidden-element-web" >
                <img (click)="onShowMenuMovil();" src="\assets\images\menu-movil.PNG" alt="logo">
                <mat-icon clase="expand-icon" style="vertical-align: super;" aria-hidden="false">{{expand}}</mat-icon>
            </div>
        </div>
        <a *ngIf="type_user==3" class="div-wallet" href="/pay-balance">
            <p><i class="fas fa-wallet" style="height: 14px; margin-right: 7px;"></i>${{balance}}</p>
        </a>
        <button class="hidden-element-movil btn-user" mat-button [matMenuTriggerFor]="aboveMenu">{{ 'general.hello' | translate }}, {{alias_username}}! <mat-icon clase="expand-icon" aria-hidden="false">expand_more</mat-icon></button>
        <mat-menu #aboveMenu="matMenu" yPosition="below">
            <button class="hidden-element-movil" *ngFor="let profile of menu_profile" mat-menu-item (click)="navigate(profile)">{{profile.submenu_name}}</button>
        </mat-menu>
    </div> 
</div>

<!-- menu movil -->
<div class="{{showMenuMovil}} menu-sticky content-menu-movil" >
    <div class="hidden-element-web" >
        <div class="items-menu">           
            <button mat-menu-item *ngFor="let menu of menu_user" id="{{menu[0]}}" [routerLink]="menu[1][0].route_sub_menu" >{{menu[1][0].menu_name}}</button>
        </div>
        <div class="items-menu">
            <button mat-menu-item *ngFor="let profile of menu_profile" [routerLink]="profile.route_sub_menu" >{{profile.submenu_name}}</button>
        </div>
    </div>
</div>
<!-- fin menu movil -->

<!-- migas de pan -->
<div class="titulo-menu menu-sticky breadcrumbs-menu" fxLayout="row" fxLayoutAlign="start center" >
    <i style="font-size: 14px;" class="fas fa-home"></i>
    <span *ngIf="!lockers_title" class="material-icons">chevron_right</span>
    <div *ngIf="tabs.length > 0;else v_tab">
        <a *ngIf="!lockers_title" style="border-bottom: 2px solid #FF5F56; cursor: pointer; color:#FF5F56;" (click)="onBreadcrumbs('locker', false)">Lockers</a>
        <a *ngFor="let breadcrumbs of tabs; last as isLast" (click)="onBreadcrumbs(breadcrumbs, isLast)"> 
            <i class="material-icons" style="vertical-align: middle;"> chevron_right </i>
            <span [class.border]="!isLast" >{{ breadcrumbs }}</span>
        </a>
    </div>
    <ng-template #v_tab>{{ tab }}</ng-template>
   
</div>
<!-- space -->
<div class="space" ></div>


