
mat-card-content{
    text-align: left;
    margin: 0px;
    .img-default{
        text-align: center;
        margin: 45px 0;
        height: 119px;	
        width: 292px;	
        border-radius: 8px;	
        background-color: #FFFFFF;
    }    
}



.container{
    color: #979797 !important;
    background-color: #ffffff;
  }
  
  mat-card{
    border: 1px solid #D6D6D6;
  }


  .sub{
      color: #858585;
  }

mat-card-header{
  text-align: start;
}

mat-card-content{
  padding: 5px;
  .big{
    font-size: 48px;
    font-family: "Noto-Ikea-Bold";
    font-weight: bold;
    width: 20%;
    text-align: start;
    margin-left: 15px;
  }
  .sub{
    color: #6F90BB;
    margin: auto 10px auto 0px;
  }
}

app-menu-client{
  position: sticky;
  z-index: 11;
  font-family: "Noto-Ikea-Regular" !important;
  box-shadow: 0px 5px 15px #f7f7f7;
}

.small-content{
  text-align: center;
  display: flex;
  div{
    margin: auto 10px;
    text-align: start;
  }
}

.navigating{
  li{
    cursor: pointer;
  }
}
.list-item{
  margin-right: 10px;
}

ol{
  display: flex;
  margin: auto;
  width: 80%;
  text-align: start;
  @media (max-width: 1000px) {
    display: block;
  }
}
.big-list{
width: 50% !important;
font-size: 22px !important;
}

.mat-tab-label-active{
  color: #0051BA;
}

.tab-body{
  margin-top: 100px;
  @media (max-width: 1000px) {
    margin-top: 150px;
  }
}

::ng-deep{
  g[role="region"]{
    g{
      g:last-child{
        // display: none;
      }
    }
  }
}

#date-metrics{
  width: 49%;
  right: 0px;
  top: -15px;
  font-family: "Noto-Ikea-Regular";
  #download{
    width: 135px;
  }
  .mat-form-field{
    cursor: pointer;
    input{
      cursor: pointer;
    }
    ::ng-deep .mat-form-field-wrapper{
      border-bottom: 1px solid #aaa;
      padding: 2px 10px 0px;
      border-radius: 15px;
    }
    width: 35%;
  }
}

@media (max-width: 1000px) {
  #metric-card{
    margin-top: 70px;
  }
  #date-metrics{
    width: 100%;
    margin-top: 10%;
  }
}

.btn-group{
  position: absolute;
  right: 10px;
  z-index: 1;
  display: inline-block;
  margin-top: 1%;
}

ng-template{
  ::ng-deep .mat-badge-content{
    background-color: #0067B3 !important;
}
}
::ng-deep .bg-badge .mat-badge-content  {
  background: #0058A3;
  color: #fff;
  font-size: 9px;
}

::ng-deep .mat-tab-label{
  opacity: 1 !important;
}

#general-chart div{
  height: 300px;
}
.download-button{
  border: 0px;
  border-bottom: 1px solid #aaa;
  border-radius: 15px;
  padding: 2px 10px 0px;
  background-color: transparent;
  height: 35px;
  font-family: "Noto-Ikea-Regular";
}

::ng-deep .mat-calendar-body-selected{
  background-color: #0067B3 !important;
}

.mat-card{
  font-family: "Noto-Ikea-Regular";
}

