<div *ngIf="sub_domain!='ikea' && sub_domain!='localhost'" class="container" fxFlex="100%" fxLayoutGap="10px" fxLayoutAlign="center">
    <div class="item item-1" fxFlex="50%" >
        <div class="box" fxLayout="column">
            <a class="logo" routerLink=""><img src="\assets\images\vivipost-logo.svg" alt="logo"></a>
            <div class="title-h1">{{ 'resetpass.reset_title' | translate }}</div>
            <form  class="box-form" fxLayout="column">
                <label class="general-text">{{ 'resetpass.text' | translate }}</label>
                <app-notification 
                    *ngIf="tMsg != ''" 
                    [type]="typeMsg"
                    [remove] = 'removeMsg'
                    message="{{tMsg}}">
                </app-notification>
                <input type="password" 
                    class="box-input {{styles_input}}"
                    maxlength="50" 
                    name="new_password" 
                    placeholder="{{ 'resetpass.nuepassword' | translate }}"
                    matInput 
                    required
                    [(ngModel)]="new_password">

                <input type="password" 
                    class="box-input {{styles_input}}"
                    maxlength="50" 
                    name="confir_password" 
                    placeholder="{{ 'resetpass.confirmpass' | translate }}"
                    matInput 
                    required
                    [(ngModel)]="confir_password">
                <div>
                    <button type="submit" class="button-red" mat-raised-button (click)="validate()">{{ 'general.send' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="item item-2" fxFlex="50%" fxFlex fxShow.sm="false" fxShow.xs="false">
        <img src="\assets\images\dashboard.svg">
    </div>
</div>

<div class="ikea-container" *ngIf="sub_domain=='ikea' || sub_domain=='localhost'">
    <div class="container">
        <div class="item item-2">
            <div class="box" fxLayout="column">
                <a class="logo" routerLink=""><img src="\assets\images\ikea.png" alt="logo"></a>                
                <p>IKEA Lockers</p>
                <!-- <div class="title-h1">{{title}}</div> -->
                <form  class="box-form" fxLayout="column">
                    <label class="general-text">{{ 'resetpass.text' | translate }}</label>
                    <app-notification 
                    *ngIf="tMsg != ''" 
                    [type]="typeMsg"
                    [remove] = 'removeMsg'
                    message="{{tMsg}}">
                </app-notification>
                <input type="password" 
                class="{{styles_input}}" 
                maxlength="50" 
                name="new_password" 
                placeholder="{{ 'resetpass.nuepassword' | translate }}"
                matInput 
                required
                [(ngModel)]="new_password"
                autocomplete="off">
                <input type="password" 
                class=" {{styles_input}}" 
                maxlength="50" 
                name="confir_password" 
                placeholder="{{ 'resetpass.confirmpass' | translate }}"
                matInput
                required
                [(ngModel)]="confir_password"
                autocomplete="off">
                    <div class="link">
                        <a class="link-forgot" routerLink="/Login">{{ 'login.login' | translate }}</a>
                    </div>
                    <br>
                        <button type="submit" class="button-ikea" mat-raised-button (click)="validate()">{{ 'general.send' | translate }}</button>
                    </form>
            </div>
        </div>
        <!-- <div class="item item-2" fxFlex>
            <img src="\assets\images\dashboard.svg">
        </div> -->
    </div>
    <footer>
        <span>Powered by Vivipost</span>
        <b>V 1.0.0</b>
    </footer>
</div>
