.container{
    height:100vh;
    margin: 4%;
    .item-1{
        display: contents;
        .title-h1{
            width: 100%;
        }
        .logo{
            width: 140px;
            img{
                width: 100%;
            }
        }
        .box{
            margin-top: 90px;
            width: 90%;
            max-width: 458px;

            .box-form{
                width: 90%;

                .hide-input{
                    width: 90%;
                    input{
                        width: 90%;
                    }
                }
                
                .mat-form-field-appearance-fill .mat-form-field-flex{
                    background: #fff !important; 
                }
                
            }
        }
        
    }
    .item-2{
        max-width: 610px;
        min-width: 500px;  
        width: 100%; 
        margin-left: 90px;  
        img{
            width: 100%;
        }
    }
}


.ikea-container{
    
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    font-size: 11px;
    form{
        width: 70%;
        margin: auto;
        input{
            background-color: #f2f2f2 !important;
            padding: 11px 12px;
            border-radius: 3px;
            border: 1px solid #eeeeee;
            margin-bottom: 18px;
            color: #222;
            font-family: "Noto-Ikea-Regular";
            font-size: 10px;
            line-height: 18px;
            text-align: center;
        }
        button{font-size: 11px;}
    }
    .item-2{
        box-shadow: 0px 0px 10px #aaa;
        background-color: white;
        padding: 25px;
        border-radius: 10px;
        margin: auto;
        width: 60%;
        button{
            margin: auto;
        }
        @media (max-width: 1000px) {
            width: 80%;
            button{
                width: 100%;
            }
        }
        img{
            width: 32%;
            border-radius: 3px;
            box-shadow: 3px 3px 10px #ddd;
        }
        p{
            font-family: "Noto-Ikea-Bold";
            margin: 5px 0px;
        }
    }

    .button-ikea{
        width: 60%;
        background-color: #0067B3;
        border-radius: 2px;
        border: none;
        color: white;
        padding: 5px;
    }
}


