p{ margin: 0;}

.grid{
  align-items: start !important;
}

.grid_lockers{
  border: 0.5px solid #eee;
  margin-bottom: 10px;
}
.grid_locker{
    border: 1px solid #ddd;
    background-color: white;
}
// .grid_lockers:hover{
//   border: 1px solid #a3a3a3;
// }




mat-grid-list{
  margin-right: 2px;
}
.legende{
    color: #000000;
    font-family: "Noto-Ikea-Regular";
    font-size: 13px;
    letter-spacing: 0;
    margin-right: 20px;
    padding-top: 14px;
    .desc{
      color: #9B9B9B;
    }
}

.LOCKER_VENCIDO:hover{
  border: 1px solid #98B1D3;
}
.LOCKER_CERRADO:hover{
  border: 1px solid #98B1D3;
}
.LOCKER_OCUPADO:hover{
  border: 1PX solid #5e0909;
}
.LOCKER_FALLO:hover{
  border: 1px solid #c2932f;
}

.LOCKER_BLOCK{ margin: 0px 4px; box-sizing: border-box; border: 0.5px solid #CDCDCD; width: 14px !important } //disponible
.LOCKER_CERRADO{ background: #9EC57C; box-sizing: border-box;  border: 0.5px solid #CDCDCD;} //disponible
.LOCKER_FALLO{ background: #ffda1a; box-sizing: border-box;  border: 0.5px solid #CDCDCD;} //dañado
.LOCKER_OCUPADO{ background: #ff0000; box-sizing: border-box;  border: 0.5px solid #CDCDCD;} //ocupado
.LOCKER_VENCIDO{ background: #f6821f; box-sizing: border-box;  border: 0.5px solid #CDCDCD;} //ocupado
.LOCKER_ABIERTO { background: #0067B3; box-sizing: border-box;  border: 0.5px solid #CDCDCD;} //disponible
.SCREEN { box-sizing: border-box;  border: 0.5px solid #CDCDCD;} //disponible