<div class="header-box">
  <p class="title-modal" mat-dialog-title>{{ 'dashboard.title_modal_address' | translate }}</p>
  <button mat-dialog-close="close" class="btn-close"><mat-icon aria-hidden="false">clear</mat-icon></button>
</div>
<mat-dialog-content class="body-box">
  <form action="" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxLayout>
      <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column">
        <mat-label>{{ 'dashboard.name_for_the_direction' | translate }}</mat-label>
        <input
          type="text" 
          class="b-input" 
          maxlength="50" 
          name="nameForTheDirecction"
          required
          [(ngModel)]="nameForTheDirecction">
      </div>
    </div>
    
    <div fxLayoutGap="18px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column">
          <mat-label>{{ 'dashboard.enter_code_locker' | translate }}</mat-label>
          <input type="text"
          class="b-input" 
                  name="address_locker" 
                  [(ngModel)]="address_locker"
                  [formControl]="myControl"
                  [matAutocomplete]="auto"
                  [readonly]="editData"
                  (keyup)="filterLockersList($event)">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedAddress($event)">
            <mat-option *ngFor="let list of list_address" [value]="list">
              <div class="option-address">
                <p class="text-select">{{list.locker_code}} - {{list.locker_name}} <span class="text-italic" style="float: right; margin-right: 3px;"> {{list.id_locker_privacy== 1 ? 'Private' : 'Public' }}</span></p>
                <p class="text-italic" style="padding-top:4px;">{{list.locker_address}}</p>
              </div>
            </mat-option>
          </mat-autocomplete>
      </div>
      <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column" *ngIf="inputCode && !editData">
        <mat-label [ngClass]="{'err-label':errCode}">{{ 'dashboard.invitation_code' | translate }}</mat-label>
        <input
          type="text"
          name="invitationCode"
          required
          class="{{errCode?'err':'b-input'}}" 
          [(ngModel)]="invitationCode" style="margin-bottom: 5px;"
          (change)="onValidateInvitationCode($event)">
          <p class="msg-code" *ngIf="errCode" translate><i class="fas fa-exclamation-circle"></i> dashboard.wrong_code</p>
      </div>
    </div>

    <div fxLayout *ngIf="editData">
      <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column">
        <mat-label>Status</mat-label>
        <select
            class="b-input" 
            name="status"
            required 
            [(ngModel)]="status">
            <option disabled value="undefined"> Seleccionar</option>  
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
      </div>
    </div>
  </form>
  
</mat-dialog-content>
<div align="start" class="footer-box" fxLayout fxLayoutGap="18px">
  <button [mat-dialog-close]="true" [disabled]="!disableBtn" class="btn" (click)="onAddDirection()"
  [ngClass]="{'button-grey':!disableBtn, 'button-red':disableBtn}" >{{ 'dashboard.add' | translate }}</button>
  <button mat-dialog-close="close" class="btn btn-white">{{ 'general.cancel' | translate }}</button>
</div>




  