<div>
    <div class="header-box">
      <p mat-dialog-title>Eliminar Usuario</p>
      <button mat-dialog-close class="btn-close"><mat-icon aria-hidden="false">clear</mat-icon></button>
    </div>
    <mat-dialog-content class="body">
        <div style="height: 143px;">
            <p>¿Está seguro que desea eliminar al usuario <b>{{data.name}}</b> del sistema?, no es posible deshacer esta acción en el futuro.</p>
        </div>
    </mat-dialog-content>
    <div align="start" class="footer-box">
      <a mat-button [mat-dialog-close]="true" class="btn button-red">Si, Eliminar Usuario</a>
      <a mat-button class="btn btn-white" [mat-dialog-close]="true">Cancelar</a>
</div>